*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(wall.jpg )no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 20px;
}
.box h5{
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 20px 0;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}




/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-image: url("bmr.jpg");
    color: palegoldenrod;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("bmr.jpg");
    color: palegoldenrod;
}



section {
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

